*, *:before, *:after {
	box-sizing: inherit;
	color: inherit;
}

html {
	--white: #fff;
	--lightgray: #a7a8aa;
	--darkergray: #888b8d;
	--darkestgray: #53565A;
	--yellow: #FFD100;
	--orange: #ff6a13;
	--lightblue: #7BA7BC;
	--darkblue: #34657F;
	--border: 2px solid var(--lightgray);
}

body {
	color: var(--darkestgray);
	margin: 0;
	box-sizing: border-box;
	font-size: 1.125em;
	font-family: 'Nunito', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

html, body, main {
	width: 100%;
	max-width: 100%;
	min-height: calc(100vh - 3rem);
}

a {
	color: var(--orange);
	text-decoration: none;
}

*:focus, input[type="checkbox"]:focus + label {
	outline: 2px dashed var(--yellow);
	outline-offset: 2px;
}

.container {
	width: 100%;
	max-width: 36rem;
	margin: auto;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.5em 0.8em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid var(--lightgray);
	border-radius: .25rem;
	border: var(--border);
}

input:disabled {
	color: var(--lightgray);
}

input[type="range"] {
	height: 0;
}

button, input[type="submit"] {
	color: var(--white);
	background-color: var(--orange);
	outline: none;
	font-weight: bold;
	border: var(--border);
	border-color: var(--orange);
}

button:disabled {
	background-color: var(--lightgray);
	border-color: var(--lightgray);
	color: var(--darkergray)
}

button:not(:disabled):active {
	filter: brightness(0.9);
}

button:focus {
	border-color: var(--darkergray);
}
